alias cd..="cd .."
alias ..="cd .."
alias dcu='Cdocker-compose up -d'
alias dcub='docker-compose up -d --build'
alias dcd='docker-compose down'
alias dca='docker ps -a'
alias drmex='docker rm $(docker ps -q -f status=exited)'
alias drmid='docker rmi $(docker images -f "dangling=true" -q)'
alias dsex="docker start $(docker ps -a --filter 'status=exited' -q)"
